body {
	background-color: #4f81be;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}
p {
	margin: 18px 0;
}
.container-fluid {
	border-top: 0;
	border-bottom: 3px solid #3b608a;
	border-left: 3px solid #3b608a;
	border-right: 3px solid #3b608a;
}
header {
	background-color: #01b0f1;
	margin-top: 0;
	border-top: 3px solid #3b608a;
	border-bottom: 0;
	border-left: 3px solid #3b608a;
	border-right: 3px solid #3b608a;
}
header > h3 {
	margin: 0;
	border-bottom: 3px solid #3b608a;
}
div.span4 {
	border: 3px solid #3b608a;
	margin: 20px 0;
}
div.span4 > h3 {
	background-color: #7f7f7f;
	margin: 0;
	border-bottom: 3px solid #3b608a;
}
.candidate {
	border: 3px solid #3b608a;
	background-color: #ffffff;
	color: #3b608a;
	border-radius: 2px;
	padding: 5px;
	width: auto;
	margin: 10px 20px;
	cursor: pointer;
	text-transform: none;
}
footer {
	text-transform: lowercase;
	margin: 20px;
}

.modal-header h3{
	color: #3b608a; 
}

#data{
	color: #3b608a;
	text-transform: none;
	text-align: left;
}

